build/
logs/
*.csv
venv/
__pycache__/
python/server/*_pb2.py
python/server/*_pb2_grpc.py
python/server/*.pyi
*.pyc
*.pyo
*.pyd
*.swp
*.env
*.venv
*.egg-info/
*.egg
*.pytest_cache/
*.mypy_cache/
*.coverage
*.cache
*.DS_Store
